In [1]:
# Load libraries
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from pathlib import Path
import warnings
warnings.filterwarnings("ignore")

In [2]:
train_x = pd.read_csv('./airbnb_train_x.csv')
train_y = pd.read_csv('./airbnb_train_y.csv')
test_x = pd.read_csv('./airbnb_test_x.csv')

In [3]:
# Join the training y to the training x file
# Also turn the target variables into categorical
train = pd.concat([train_x, train_y], axis=1)
train['perfect_rating_score'] = train['perfect_rating_score'].astype('category')
train['high_booking_rate'] = train['high_booking_rate'].astype('category')

print(train.info())
train.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92067 entries, 0 to 92066
Data columns (total 63 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   name                       92048 non-null  object
 1   summary                    88816 non-null  object
 2   space                      72442 non-null  object
 3   description                92048 non-null  object
 4   experiences_offered        92067 non-null  object
 5   neighborhood_overview      62428 non-null  object
 6   notes                      45747 non-null  object
 7   transit                    64335 non-null  object
 8   access                     58404 non-null  object
 9   interaction                56661 non-null  object
 10  house_rules                64234 non-null  object
 11  host_name                  91898 non-null  object
 12  host_since                 91898 non-null  object
 13  host_location              91656 non-null  object
 14  host_about                 64237 non-null  object
 15  host_response_time         78617 non-null  object
 16  host_response_rate         78617 non-null  float64
 17  host_acceptance_rate       14002 non-null  object
 18  host_neighbourhood         78069 non-null  object
 19  host_listings_count        92067 non-null  int64
 20  host_total_listings_count  91898 non-null  float64
 21  host_verifications         91898 non-null  object
 22  street                     92067 non-null  object
 23  neighborhood               92067 non-null  object
 24  neighborhood_group         30691 non-null  object
 25  city                       92032 non-null  object
 26  state                      92067 non-null  object
 27  zipcode                    91106 non-null  object
 28  market                     91697 non-null  object
 29  smart_location             92067 non-null  object
 30  country_code               92067 non-null  object
 31  country                    92067 non-null  object
 32  latitude                   92067 non-null  float64
 33  longitude                  92067 non-null  float64
 34  property_type              92064 non-null  object
 35  room_type                  92067 non-null  object
 36  accommodates               92017 non-null  float64
 37  bathrooms                  91786 non-null  float64
 38  bedrooms                   91954 non-null  float64
 39  beds                       91976 non-null  float64
 40  bed_type                   92067 non-null  object
 41  amenities                  91679 non-null  object
 42  square_feet                1680 non-null   float64
 43  price                      91534 non-null  float64
 44  weekly_price               18511 non-null  float64
 45  monthly_price              22430 non-null  float64
 46  security_deposit           42910 non-null  float64
 47  cleaning_fee               71887 non-null  float64
 48  guests_included            92067 non-null  int64
 49  extra_people               92067 non-null  int64
 50  minimum_nights             92067 non-null  int64
 51  maximum_nights             92067 non-null  int64
 52  availability_30            92067 non-null  int64
 53  availability_60            92067 non-null  int64
 54  availability_90            92067 non-null  int64
 55  availability_365           92067 non-null  int64
 56  first_review               92067 non-null  object
 57  license                    8148 non-null   object
 58  jurisdiction_names         45081 non-null  object
 59  cancellation_policy        92067 non-null  object
 60  features                   92041 non-null  object
 61  high_booking_rate          92067 non-null  category
 62  perfect_rating_score       92067 non-null  category
dtypes: category(2), float64(14), int64(9), object(38)
memory usage: 43.0+ MB
None

,name,summary,space,description,experiences_offered,neighborhood_overview,notes,transit,access,interaction,...,availability_60,availability_90,availability_365,first_review,license,jurisdiction_names,cancellation_policy,features,high_booking_rate,perfect_rating_score
count,92048,88816,72442,92048,92067,62428,45747,64335,58404,56661,...,92067.000000,92067.000000,92067.000000,92067,8148,45081,92067,92041,92067,92067
unique,90781,85231,69691,90398,1,56360,41178,58282,52677,50267,...,NaN,NaN,NaN,2566,2877,25,6,119,2,2
top,Private room,"My place is good for couples, solo adventurers...",Every booking is instantly confirmed. Every ca...,"My place is good for couples, solo adventurers...",none,La Jolla California is an enchanting seaside c...,All of our rentals are fully licensed and regu...,Convenient public transportation. The location...,All of our properties utilize our streamlined ...,"Our concierge is available by phone, email, or...",...,NaN,NaN,NaN,2017-01-01,City registration pending,"City of Los Angeles, CA",strict,"Host Has Profile Pic,Host Identity Verified,Is...",NO,NO
freq,12,64,68,36,92067,42,149,134,94,72,...,NaN,NaN,NaN,449,4621,14356,43312,29807,73405,65620
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24.783516,41.474405,179.691410,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21.320198,32.314087,137.535477,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.000000,7.000000,40.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22.000000,42.000000,169.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,44.000000,71.000000,322.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,60.000000,90.000000,365.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# EXAMPLE PREDICTIONS FOR CONTEST 1

# drop training data with mising label
orig_size = train.shape[0]
train_perfect = train[~train['perfect_rating_score'].isna()]
print(f'Dropped {orig_size - train_perfect.shape[0]} rows with missing label.')

# Create a simple model to predict perfect_rating_score and generate predictions in the test data
X_perfect = train_perfect[['accommodates']]

y_perfect = train_perfect['perfect_rating_score'].map({'NO':0, 'YES':1})
# Convert YES/NO to 1/0
# fill missing values with average accomodates
mean_accom = np.mean(X_perfect['accommodates'])
X_perfect['accommodates'] = X_perfect['accommodates'].fillna(mean_accom)
test_x['accommodates'] = test_x['accommodates'].fillna(mean_accom)


model_perfect = LogisticRegression()
model_perfect.fit(X_perfect, y_perfect)
probs_perfect = model_perfect.predict_proba(test_x[['accommodates']])[:, 1]

# Make binary classifications (make sure to check for NAs!)
classifications_perfect = np.where(probs_perfect > 0.29, "YES", "NO")
classifications_perfect = pd.Series(classifications_perfect).rename('x')
assert not pd.isnull(classifications_perfect).any()
# Make sure you have prediction for all rows in the test data
assert classifications_perfect.shape[0] == test_x.shape[0]
print(classifications_perfect.value_counts())
print('*'*80)
classifications_perfect

Dropped 0 rows with missing label.
x
NO     5003
YES    4997
Name: count, dtype: int64
********************************************************************************

0        NO
1        NO
2       YES
3       YES
4       YES
       ...
9995    YES
9996    YES
9997    YES
9998     NO
9999    YES
Name: x, Length: 10000, dtype: object

In [7]:
# EXAMPLE PREDICTIONS FOR CONTEST 2

# drop training data with mising label
orig_size = train.shape[0]
train_rate = train[~train['high_booking_rate'].isna()]
print(f'Dropped {orig_size - train_rate.shape[0]} rows with missing label.')

# Create a simple model to predict high_booking_rate and generate predictions in the test data
X_rate = train_rate[['accommodates']]
# Convert YES/NO to 1/0
y_rate = train_rate['high_booking_rate'].map({'NO':0, 'YES':1})

# fill missing values with average accomodates
mean_accom = np.mean(X_rate['accommodates'])
X_rate['accommodates'] = X_rate['accommodates'].fillna(mean_accom)
test_x['accommodates'] = test_x['accommodates'].fillna(mean_accom)

model_rate = LogisticRegression()
model_rate.fit(X_rate, y_rate)
probs_rate = model_rate.predict_proba(test_x[['accommodates']])[:, 1]

probs_rate = pd.Series(probs_rate).rename('x')
assert not pd.isnull(probs_rate).any()
assert probs_rate.shape[0] == test_x.shape[0]
print('*'*80)
probs_rate

Dropped 0 rows with missing label.
********************************************************************************

0       0.207281
1       0.201856
2       0.200072
3       0.198299
4       0.200072
          ...
9995    0.198299
9996    0.198299
9997    0.200072
9998    0.210957
9999    0.200072
Name: x, Length: 10000, dtype: float64

In [8]:
# Output your predictions
# They must be in EXACTLY this format:
# A .csv file with the naming convention targetvariable_groupAAA.csv,
# where you replace targetvariable with your chosen target, and AAA with your group name
# In exactly the same order as they are in the test_x file

# For perfect_rating_score, each row should be a binary YES (is perfect) or NO (not perfect)
# For high_booking_rate, each row should be a number representing the probability of high_booking_rate = YES

# This code creates sample outputs in the correct format. Ensure the first row is the header with column name x

classifications_perfect.to_csv("./perfect_rating_score_group0.csv", index=False, header=True)
probs_rate.to_csv("high_booking_rate_group0.csv", index=False, header=True)

# I have evaluated these predictions against the test set
# the above perfect_rating_score predictions have TPR = 0.5244 and FPR = 0.4894 (so they would be disqualified!)
# the above high_booking_rate predictions have AUC = 0.525